{ "presets": [
	["env", {
		targets:{
			node: "current"		
		}
	}], 
	["react"] 
  ],
  "plugins": [
	  "syntax-dynamic-import", "transform-object-rest-spread", "transform-es2015-spread"
  ],
  "ignore": [
    "**/*.scss",
  ]
} 
