<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kero</title>
        <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        {{{body}}}
    </body>
</html>