#shoppingListContainer{
    input{
        width: 350px;
        padding: 7px;
    }
    
    label {
        width: 100px;
        display: inline-block;
    }

    button {
        padding: 7px 14px;
        
        background-color: rgba(235,235,235,1);
        color: #555;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;
        
        &:active{
            border: 1px solid #00B0FF;
            //background-color: rgba(215,215,215,1);
            color: #00B0FF;
        }
        
        &:hover{
            background-color: rgba(230,230,230,1);
            border: 1px solid #999;
        }
    }
    
    ul{
        list-style: none;
        font-family: "Lato";
        
        
    }
    
    display: flex;
}

#shoppingListForm {
    font-family: "Lato"
}