.dates {
    & > div {
        & > span {
           display: inline-block;
           width: 50px;
           font-family: "Roboto";
        }
    }
}

.calendar{
    margin: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(163,163,163);
}

.monthHeader {
    text-align: center;
    padding:4px 1em ; 
    
    span {
        font-size: 24px;
        font-family: "Lato-Bold";
           
    }
    
    .nextMonth {
        float: right;
        padding: 0 1em;
        cursor: pointer;
    }

    .prevMonth {
        float: left;
        padding: 0 1em;
        cursor: pointer;
    }
}

.dates{
    text-align: center;
}

.weekDayHeader{
    background-color: black;
    color: white;
    box-sizing: content-box;
    font-size: 0.8em;
    
    span{
        padding: 3px 5px 3px 5px;
        margin: 3px;
    }
}

.weekday {
    cursor: pointer;
    box-sizing:content-box;

    font-family: "Lato-Bold";
    padding: 5px 5px 5px 5px;
    margin: 3px;
    border-radius: 3px;

    
    &:hover{
        color: red;
        background-color: rgb(127,20,0);        
    }
}

.diff{
    color: rgb(100,100,100)
}
/*
.current {
    font-weight: bold;
}*/

.current-day {
    
    color: red;
    padding: 4px 4px 4px 4px;
    border: 1px solid red;

}

.dayplanner{
    font-family: "Roboto";
    background-color: white;
    padding: 1em;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(163,163,163);
    
    hr {
        display: inline-block;
        width: 200px;
    }
    & > div {
        margin: 10px;
    }
    
    .hr{
        text-align: center;
    }
    
    .hour{
        width: 85px;
        display: inline-block;
    }
}

.notices{
    margin: 10px;
    
    
    & > div {
        margin: 10px;
        border-radius: 5px;
        border: 1px solid rgb(163,163,163);
        background-color: white;
        font-family: "Lato";
        padding: 10px;
    }
    
}

.profile-img{
        display: inline-block;
        background-image: url("/assets/images/profile.jpg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        border-radius: 5px;
        margin: 0 10px;
       
}

